<header class="container">
    <div>
        <div class="logo-container">
            <i class="fab fa-twitter"></i>
        </div>

        <div class="navigation-menu-container">
            <nav>
                <ul class="navigation-menu-list">
                    <li>
                        <a href="#" style="font-weight: bold;">
                            <i class="fas fa-home"></i>
                            <span class="hide-small-screens">Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fas fa-hashtag"></i>
                            <span class="hide-small-screens">Explore</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="far fa-bell"></i>
                            <span class="hide-small-screens">Notifications</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="far fa-envelope"></i>
                            <span class="hide-small-screens">Messages</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="far fa-bookmark"></i>
                            <span class="hide-small-screens">Bookmarks</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="far fa-list-alt"></i>
                            <span class="hide-small-screens">Lists</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="far fa-user"></i>
                            <span class="hide-small-screens">Profile</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fas fa-ellipsis-h"></i>
                            <span class="hide-small-screens">More</span>
                        </a>
                    </li>
                </ul>
            </nav>

            <div class="tweet-button-container">
                <a class="hide-small-screens" href="#">Tweet</a>
                <a class="hide-large-screen" href="#">
                    <i class="fas fa-pen-fancy"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="user-profile-container">
        <img class="user-avatar" src="./../../assets/bannon-morrissy-RxiAV5LC-ww-unsplash.jpg" alt="">

        <div class="user-info hide-small-screens">
            <p class="display-name">UserXYZ</p>
            <p class="user-name">@UserXYZ</p>
        </div>

        <div class="more hide-small-screens">
            <i class="fas fa-ellipsis-h"></i>
        </div>
    </div>
</header>